recursive-include book_task/app/templates *
recursive-include book_task/app/static *
recursive-include book_task/migrations *
recursive-include book_task/requirements *
include book_task/docker-compose.yml
include book_task/config.py